
 <h1> <%= spell.name %> </h1>

<p>
<strong><%= spell.spell_type %> <%= spell.level %></strong>
</p>

<p>
<strong>Tags: </strong>
	
	<%tags_all = spell.tags.split(',') %>
	<% tags_all.each_with_index do |m, index| %>

		<% if  ( index + 1 ) % 3 == 0  %>	
			<%= ", " + m  %>
			<br>
		<% elsif  ( index + 1 ) == 1  %>	
			<%=  m  %>
		<% elsif  ( index + 1 ) % 4 == 0  %>	
			<%= m  %>
		<% elsif  ( index + 1 ) % 2 == 0  %>	
			<%= ", " + m  %>
		<% else %>
			<%= ", " + m  %>
		<% end %>
	<% end %>
</p>

<p>
	<strong>Class Level:</strong>
	<% archetype_spells = Dnd5eArchetypeSpell.archetypes_that_know_this_spell_by_level(spell.id).map { |m| m = m.name + " " + Dnd5eArchetypeSpell.where(dnd5e_archetype_id: m.id,dnd5e_spell_id: spell.id).take.level }%>
	<% class_spells = Dnd5eClassSpell.classes_that_know_this_spell_by_level(spell.id).map { |m| m = m.name + " " + Dnd5eClassSpell.where(dnd5e_class_id: m.id,dnd5e_spell_id: spell.id).take.level } %>
	
	<% all = class_spells + archetype_spells %>
	<% all.each_with_index do |m, index| %>

		<% if  ( index + 1 ) % 2 == 0 %>	
			<%= ", " + m  %>
			<br>
		<% else %>
			<%= m  %>
		<% end %>
	<% end %>
	
	
</p>

<p>
<strong>Casting Time:</strong>
  <%= spell.cast %>
</p>

<p>
<strong>Range:</strong>
  <%= spell.range %>
</p>

<p>
<strong>Components:</strong>
  <%= spell.components %>
</p>

<p>
<strong>Duration:</strong>
  <%= spell.duration %>
</p>

<p>
<strong>Ritual:</strong>
  <%= spell.ritual %>
</p>

<% if spell.saving_throw %>
	<p>
	<strong>Saving Throw:</strong>
  	<%= spell.saving_throw %>
	</p>
<% end %>

<% if spell.damage_type %>
	<p>
	<strong>Damage:</strong>
  	<%= spell.damage_type %>
	</p>
<% end %>

<p>
  <%=  spell.description.html_safe %>
</p>
