
<div id="search">
		<div id="searchwrapper">
		<%= form_tag( "dnd5espells" , :method => "get", class: "navbar-form", id: "search-form") do %>
      			<%= text_field_tag :search, params[:search], class: "span2" %>
		<% end %>
		</div>
</div>

<div id="index">



<% if !@level0spells.empty? %>
	<h2> Cantrips </h2>
	<% @level0spells.each do |spell| %>
  		<%=link_to  spell.name, dnd5e_spell_url(spell) %>
		<br>
	<% end %>
<% end %>

<% if @level0spells.empty? %>
	<h2> 1st-level </h2>
	<% @level1spells.each do |spell| %>
  		<%=link_to  spell.name, dnd5e_spell_url(spell) %>
		<br>
	<% end %>
<% end %>

<% if !@level0spells.empty? %>
	<h2> 2nd-level </h2>
	<% @level2spells.each do |spell| %>
  		<%=link_to  spell.name, dnd5e_spell_url(spell) %>
		<br>
	<% end %>
<% end %>

<% if !@level0spells.empty? %>
	<h2> 3rd-level </h2>
	<% @level3spells.each do |spell| %>
  		<%=link_to  spell.name, dnd5e_spell_url(spell) %>
		<br>
	<% end %>
<% end %>

<% if !@level0spells.empty? %>
	<h2> 4th-level </h2>
	<% @level4spells.each do |spell| %>
  		<%=link_to  spell.name, dnd5e_spell_url(spell) %>
		<br>
	<% end %>
<% end %>

<% if !@level0spells.empty? %>
	<h2> 5th-level </h2>
	<% @level5spells.each do |spell| %>
  		<%=link_to  spell.name, dnd5e_spell_url(spell) %>
		<br>
	<% end %>
<% end %>
