<div id="sort">
	
	<div id="spell_types">
	<label>[</label>	
        <% if 0 == @spell_type_all %>
			<%= link_to "All", { :controller => "dnd5e_spells", :action => "index", :class => @class, :archetype => @archetype, :spell_type => 0, :spell => @spell }, {:style => "color: gray;" }%>
        <% else %>
			<%= link_to "All", { :controller => "dnd5e_spells", :action => "index", :class => @class, :archetype => @archetype, :spell_type => 0, :spell => @spell }, {:style => "color: black;" } %>
	<% end %>
	<% @spell_types.each do |spell_type| %>
		<% if spell_type.id == @spell_type %>
			<%= link_to spell_type.name, { :controller => "dnd5e_spells", :action => "index", :class => @class, :archetype => @archetype, :spell_type => spell_type.id, :spell => @spell }, {:style => "color: gray;" }%>
		<% else %>
			<%= link_to spell_type.name, { :controller => "dnd5e_spells", :action => "index", :class => @class, :archetype => @archetype, :spell_type => spell_type.id, :spell => @spell }, {:style => "color: black;" } %>
		<% end %>
	<% end %>	
	<label>]</label>
	</div>
	
	<div id="classes">
		 <label>[</label>        
                <% if 0 == @class_all %>
			<%= link_to "All", { :controller => "dnd5e_spells", :action => "index", :class => 0, :spell_type => @spell_type, :spell => @spell }, {:style => "color: gray;" }%>
                <% else %>
			<%= link_to "All", { :controller => "dnd5e_spells", :action => "index", :class => 0, :spell_type => @spell_type, :spell => @spell }, {:style => "color: black;" }%>
		<% end %>
        	<% @classes.each do |classs| %>
                	<% if classs.id == @class %>
                        	<%= link_to classs.name, { :controller => "dnd5e_spells", :action => "index", :class => classs.id, :spell_type => @spell_type, :spell => @spell }, {:style => "color: gray;" }%>
                	<% else %>
                        	<%= link_to classs.name, { :controller => "dnd5e_spells", :action => "index", :class => classs.id, :spell_type => @spell_type, :spell => @spell }, {:style => "color: black;" } %>
                	<% end %>
        	<% end %>       
        	<label>]</label>     
	</div>

	<div id="archetypes">
		<label>[</label>        
		<% if @class%> 
        		<% @archetypes.each do |a| %>
                		<% if a.id == @archetype %>
                        		<%= link_to a.name, { :controller => "dnd5e_spells", :action => "index", :class => @class, :archetype => a.id, :spell_type => @spell_type, :spell => @spell }, {:style => "color: gray;" }%>
                		<% else %>
                        		<%= link_to a.name, { :controller => "dnd5e_spells", :action => "index", :class => @class, :archetype => a.id, :spell_type => @spell_type, :spell => @spell }, {:style => "color: black;" } %>
                		<% end %>
        		<% end %>       
	<% end %>   
        <label>]</label>  
	</div>

</div>



	
<div id="list-wrapper">
		<div id="search">
			<div id="searchwrapper">
				<%= form_tag( "5th_edition_spell_index" , :method => "get", class: "navbar-form", id: "search-form") do %>
					<%= hidden_field_tag "class",@class %>
					<%= hidden_field_tag "archetype",@archetype %>
					<%= hidden_field_tag "spell_type",@spell_type %>
					<%= hidden_field_tag "spell",@spell %>
					<%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search..." %>
				<% end %>
			</div>
		</div>

		<div id="index">
		<% @levels.each_with_index do |level, index| %>
			<h2><%= level %></h2> 
			<% @spells[index].each do |spell| %>
				<%= link_to spell.name, { :controller => "dnd5e_spells", :action => "index", :class => @class, :archetype => @archetype, :spell_type => @spell_type, :spell => spell.id, :search => @search } %>
				<br>
			<% end %>
		<% end %>	

		<% if @spells.flatten.empty?   %>
			<h2> None </h2>
		<% end %>
		</div>
</div>
	<div id="show">
		<% if @spell %>
			<%= render 'show' , :spell => Dnd5eSpell.find(@spell)  %> 
		<% end %>
	
	</div>
