/*        
//	$( "#classes" ).css("color","black")

	$( "#clear" ).click(function(evt) {
		evt.stopPropagation();
		evt.preventDefault();
		$("#chosen").empty();
		$("#chosen").show();
		$("#chosen").append("<h2>All Spells</h2>");
	});
<% Dnd5eClass.all.each do |c| %>

	
	$( "#class<%=c.id%>" ).click(function(evt) {
//		$( "#class<%=c.id%>" ).css("color","gray")
		evt.stopPropagation();
		evt.preventDefault();
		$("#archetypes").empty();
		$("#archetypes").append("<label>[</label>");
		<% Dnd5eArchetype.get_archetypes_by_class(c.id).each_with_index do |a, index| %>	
			<% if index > 0%> 
				$("#archetypes").append("<label> , </label>");
			<% end %>
		      	$("#archetypes").append("<%= j link_to a.name, "#", id: "archetype" + a.id.to_s, remote: true %>");
	
		<% end %>
		$("#archetypes").append("<label>]</label>");
		$("#chosen").empty();
		$("#chosen").append("<h2><%=c.name%> | <%=c.id%> </h2>");
		$("#index").empty();
		<% if @class_spells[c.id-1].flatten.empty?%>
			$("#index").append("<h2>None</h2>");
		<% else %>
			<% @levels.each_with_index do |level, index| %>
				<% if !@class_spells[c.id-1][index].empty? %>
					$("#index").append("<h2> <%= level %> </h2>");
					<% @class_spells[c.id-1][index].each do |spell| %>
						$("#index").append("<%= j link_to  spell.name, dnd5e_spell_url(spell) %>");
					$("#index").append("<br>");
					<% end %>
				<% end %>
			<% end %>
		<% end %>
		
		$("#archetypes").show();
		$("#chosen").show();
		$("#index").show();
		
	});

<% end %>
 
<% Dnd5eArchetype.all.each_with_index do |a, index| %>	
	
	$( "#archetype<%=a.id%>" ).click(function(evt) {
		evt.stopPropagation();
		evt.preventDefault();
		$("#chosen").empty();
		$("#chosen").show();
		$("#chosen").append("<h2><%=a.name%></h2>");
		$("#index").empty();
		<% if @archetype_spells[a.id-1].flatten.empty?%>
			$("#index").append("<h2>None</h2>");
		<% else %>
			<% @levels.each_with_index do |level, index| %>
				<% if !@archetype_spells[a.id-1][index].empty? %>
					$("#index").append("<h2> <%= level %> </h2>");
					<% @archetype_spells[a.id-1][index].each do |spell| %>
						$("#index").append("<%= j link_to  spell.name, dnd5e_spell_url(spell) %>");
						$("#index").append("<br>");
					<% end %>
				<% end %>
			<% end %>
		<% end %>
		$("#index").show();
	});	
<% end %>

*/
