
<% if @archetype_highlight %>	
	<% if @spell_type_highlight %>	
		<a href="/5th_edition_spell_index?archetype=<%= @archetype_highlight %>&class=<%= @class_highlight %>&spell_type=<%= @spell_type_highlight %>"  class="btn btn-lg btn-default">&lt;</a>
	<% else %>	
		<a href="/5th_edition_spell_index?archetype=<%= @archetype_highlight %>&class=<%= @class_highlight %>"  class="btn btn-lg btn-default">&lt;</a>
	<% end %>	
<% elsif @class_highlight %>	
	<% if @spell_type_highlight %>	
		<a href="/5th_edition_spell_index?class=<%= @class_highlight %>&spell_type=<%= @spell_type_highlight %>"  class="btn btn-lg btn-default">&lt;</a>
	<% else %>	
		<a href="/5th_edition_spell_index?class=<%= @class_highlight %>"  class="btn btn-lg btn-default">&lt;</a>
	<% end %>
<% elsif @spell_type_highlight %>	
	<a href="/5th_edition_spell_index?spell_type=<%= @spell_type_highlight %>"  class="btn btn-lg btn-default">&lt;</a>
<% else %>	
	<a href="/5th_edition_spell_index"  class="btn btn-lg btn-default">&lt;</a>
<% end %>
	
<div id="show">
 <h1> <%= @spell.name %> </h1>

<p>
<strong><%= @spell.spell_type %> <%= @spell.level %></strong>
</p>


<p>
	<strong>Level:</strong>
	<% @class_spells.each_with_index do |i,index| %>
		<% if index > 0%>	
			<label>,</label>
		<% end %>
		<%= i[0] %> <%= i[1] %>
		
	<% end %>	
	<% @archetype_spells.each_with_index do |i,index| %>
		<% if index < @archetype_spells.length%>	
			<label>,</label>
		<% end %>
		<%= i[0] %> <%= i[1] %>
	<% end %>	
</p>

<p>
<strong>Casting Time:</strong>
  <%= @spell.cast %>
</p>

<p>
<strong>Range:</strong>
  <%= @spell.range %>
</p>

<p>
<strong>Components:</strong>
  <%= @spell.components %>
</p>

<p>
<strong>Duration:</strong>
  <%= @spell.duration %>
</p>

<p>
  <%=  @spell.description.html_safe %>
</p>
</div>
