

<a href="/dnd5espells" class="btn btn-lg btn-default">&lt;</a>
<center>
<p>
<strong><%= @spell.spell_type %> <%= @spell.level %></strong>
</p>
 
<p>
<strong>Name:</strong>
  <%= @spell.name %>
</p>

<p>
<strong>Casting Time:</strong>
  <%= @spell.cast %>
</p>

<p>
<strong>Casting Time:</strong>
  <%= @spell.cast %>
</p>

<p>
<strong>Range:</strong>
  <%= @spell.range %>
</p>

<p>
<strong>Components:</strong>
  <%= @spell.components %>
</p>

<p>
<strong>Duration:</strong>
  <%= @spell.duration %>
</p>

<p>
  <%= raw @spell.description %>
</p>
</center>
