
<a href="/dnd5espells" class="btn btn-lg btn-default">&lt;</a>

<div id="dnd5espellsshow">

 <h1> <%= @spell.name %> </h1>

<p>
<strong><%= @spell.spell_type %> <%= @spell.level %></strong>
</p>
 

<p>
<strong>Casting Time:</strong>
  <%= @spell.cast %>
</p>

<p>
<strong>Range:</strong>
  <%= @spell.range %>
</p>

<p>
<strong>Components:</strong>
  <%= @spell.components %>
</p>

<p>
<strong>Duration:</strong>
  <%= @spell.duration %>
</p>

<p>
  <%=  @spell.description.html_safe %>
</p>
</div>
