<div id="show">
 <h1> <%= spell.name %> </h1>

<p>
<% if spell.spell_type != '-' %>
	<strong><%= spell.spell_type %> </strong>
<% end %>
</p>

<p>
        <strong>Level:</strong>

<% @class_spells = Dnd5eClassSpell.classes_that_know_this_spell_by_level(spell.id) %>
        <% @class_spells.each_with_index do |m, index| %>
                <%= m.name %>
                <%= Dnd5eClassSpell.where(dnd5e_class_id: m.id,dnd5e_spell_id: spell.id).take.level %>
                <% if ( ( index + 1 ) % 2 ) == 0 and @class_spells.length != ( index + 1) %>
                        <br>            
                <% end %>
                
                <% if index % 2 == 0 and @class_spells.length != 1 %>   
                        <label>,</label>
                <% end %>
        <% end %>

</p>

<p>
<% if spell.components != '-' %>
	<strong>Components:</strong>
	<%= spell.components %>
<% end %>
</p>

<p>
<% if spell.cast_time != '-' %>
	<strong>Cast Time:</strong>
	<%= spell.cast_time %>
<% end %>
</p>

<p>
<% if spell.target != '-' %>
	<strong>Range:</strong>
	<%= spell.target %> 
<% end %>
</p>

<p>

<% if spell.duration != '-' %>
	<strong>Duration:</strong>
	<%= spell.duration %> 
<% end %>
</p>

<p>
<% if spell.saving_throw != '-' %>
	<strong>Saving Throw:</strong>
	<%= spell.saving_throw %>
<% end %>
</p>

<p>
<% if spell.spell_resistance != '-' %>
	<strong>Spell Resistance:</strong>
	<%= spell.spell_resistance %>
<% end %>
</p>

<%= spell.description.html_safe %> 

</div>
