<div id="sort">
	
	
	<label>[</label>	
        <% if 0 == @all %>
		<%= link_to "All", { :controller => "dnd35e_spells", :action => "index", :class => 0, :spell => @spell }, {:style => "color: gray;" }%>
        <% else %>
		<%= link_to "All", { :controller => "dnd35e_spells", :action => "index", :class => 0, :spell => @spell }, {:style => "color: black;" }%>
	<% end %>
	<% Dnd35eClass.all.each do |classs| %>
		<% if classs.id == @class %>
			<%= link_to classs.name, { :controller => "dnd35e_spells", :action => "index", :class => classs.id, :spell => @spell }, {:style => "color: gray;" }%>
		<% else %>
			<%= link_to classs.name, { :controller => "dnd35e_spells", :action => "index", :class => classs.id, :spell => @spell }, {:style => "color: black;" } %>
		<% end %>
	<% end %>	
	<label>]</label>	
</div>

<div id="search">
		<div id="searchwrapper">
		<%= form_tag( "3.5_edition_spell_index" , :method => "get", class: "navbar-form", id: "search-form") do %>
			<%= hidden_field_tag "class",@class %>
      			<%= hidden_field_tag "spell",@spell %>
			<%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search..."%>
		<% end %>
		</div>
</div>

<div id="bottom-container">
<div id="index">


	<% if @class != nil  %>
		<% @levels.each_with_index do |level, index| %>
                	<h2><%= level %></h2> 
                	<% @spells[index].each do |spell| %>
				<%= link_to spell.name, { :controller => "dnd35e_spells", :action => "index", :class => @class, :spell => spell.id} %>
                        	<br>
                	<% end %>
        	<% end %>   
	<% else  %>
		<h2> Spells </h2>
		<% @spells.each do |spell| %>
			<%= link_to spell.name, { :controller => "dnd35e_spells", :action => "index", :spell => spell.id} %>
			<br>
		<% end %>

	<% end %>

	
</div>
		<% if @spell %>
			<%= render 'show' , :spell => Dnd35eSpell.find(@spell)  %> 
		<% end %>
</div>
</div>
