<div id="sort">
	
	
	<label>[</label>	
        <% if 0 == @all %>
		<%= link_to "All", { :controller => "dnd5e_spells", :action => "index", :class => 0 }, {:style => "color: gray;" }%>
        <% else %>
		<%= link_to "All", { :controller => "dnd5e_spells", :action => "index", :class => 0 }, {:style => "color: black;" }%>
	<% end %>
	<% Dnd35eClass.all.each do |classs| %>
		<% if classs.id == @class_highlight %>
			<%= link_to classs.name, { :controller => "dnd35e_spells", :action => "index", :class => classs.id }, {:style => "color: gray;" }%>
		<% else %>
			<%= link_to classs.name, { :controller => "dnd35e_spells", :action => "index", :class => classs.id }, {:style => "color: black;" } %>
		<% end %>
	<% end %>	
	<label>]</label>	
</div>

<div id="search">
		<div id="searchwrapper">
		<%= form_tag( "3.5_edition_spell_index" , :method => "get", class: "navbar-form", id: "search-form") do %>
			<%= hidden_field_tag "class",@class_highlight %>
      			<%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search..."%>
		<% end %>
		</div>
</div>

<div id="index">


	<% if @class_highlight != nil  %>
		<% @levels.each_with_index do |level, index| %>
                	<h2><%= level %></h2> 
                	<% @spells[index].each do |spell| %>
				<%= link_to spell.name, { :controller => "dnd35e_spells", :action => "show", :id => spell.id, :class => @class_highlight} %>
                        	<br>
                	<% end %>
        	<% end %>   
	<% else  %>
		<h2> Spells </h2>
		<% @spells.each do |spell| %>
			<%= link_to spell.name, { :controller => "dnd35e_spells", :action => "show", :id => spell.id} %>
			<br>
		<% end %>

		<div id=totop>
			<a href="3.5_edition_spell_index"> to Top</a>
		</div>
	<% end %>

	<% if @spells.flatten.empty?  %>
		<h2> None </h2>
	<% end %>
</div>
