<div id="sort">	
	<label>_______________________________</label>	
	<div id="allnew">
                <% if true %>
                       	<%= link_to "All", { :controller => "dnd5e_classes", :action => "index", :archetype  => @archetype,  :class => @class, :level => @level }, {:style => "color: gray;" }%>
                <% else %>
                       	<%= link_to "All", { :controller => "dnd5e_classes", :action => "index", :archetype  => @archetype,  :class => @class, :level => @level }, {:style => "color: black;" } %>
                <% end %>

                <% if true %>
                       	<%= link_to "Newest", { :controller => "dnd5e_classes", :action => "index", :archetype  => @archetype,  :class => @class, :level => @level }, {:style => "color: gray;" }%>
                <% else %>
                       	<%= link_to "Newest", { :controller => "dnd5e_classes", :action => "index", :archetype  => @archetype,  :class => @class, :level => @level }, {:style => "color: black;" } %>
                <% end %>
	</div>
	<label>_______________________________</label>	
	<div id="levels">
        	<% @levels.each do |l| %>
                	<% if l.to_i == @level %>
                        	<%= link_to l, { :controller => "dnd5e_classes", :action => "index", :archetype  => @archetype,  :class => @class, :level => l.to_i }, {:style => "color: gray;" }%>
                	<% else %>
                        	<%= link_to l, { :controller => "dnd5e_classes", :action => "index", :archetype  => @archetype,  :class => @class, :level => l.to_i }, {:style => "color: black;" } %>
                	<% end %>
        	<% end %>       
	</div>
	<label>_______________________________</label>	
	<div id="classes">
        	<% @classes.each do |classs| %>
                	<% if classs.id == @class %>
                        	<%= link_to classs.name, { :controller => "dnd5e_classes", :action => "index", :class => classs.id, :level => @level, :attr => @attr }, {:style => "color: gray;" }%>
                	<% else %>
                        	<%= link_to classs.name, { :controller => "dnd5e_classes", :action => "index",  :class => classs.id, :level => @level, :attr => @attr }, {:style => "color: black;" } %>
                	<% end %>
        	<% end %>       
	</div>
	<label>_______________________________</label>	

	<div id="archetypes">
		<% if @class%> 
        		<% @archetypes.each do |a| %>
                		<% if a.id == @archetype %>
                        		<%= link_to a.name, { :controller => "dnd5e_classes", :action => "index", :class => @class, :archetype => a.id, :level => @level }, {:style => "color: gray;" }%>
                		<% else %>
                        		<%= link_to a.name, { :controller => "dnd5e_classes", :action => "index", :class => @class, :archetype => a.id, :level => @level }, {:style => "color: black;" } %>
                		<% end %>
        		<% end %>       
		<% else %>   
			<div style="color:white;">[]</div>	
        	<% end %>       
	</div>
	<label>_______________________________</label>	
</div>
<div id="bottom">
        <div id="list-wrapper">
		<div id="index">
			<% if !@c_d_attr.empty? %>	
				<h2>Stats</h2>	
			<%end%>	
			<% @c_d_attr.each do |a| %>
               	 		<%= link_to a.name + ":" , { :controller => "dnd5e_classes", :action => "index", :class => @class, :archetype => @archetype, :level => @level, :c_attr => a.id } %>
				<strong><%=a.value%></strong><br>
			<% end %>       
			<% @a_d_attr.each do |a| %>
               	 		<%= link_to a.name + ":" , { :controller => "dnd5e_classes", :action => "index", :class => @class, :archetype => @archetype, :level => @level, :a_attr => a.id } %>
				<strong><%=a.value%></strong><br>
			<% end %>       

			<% if !@c_n_attr.empty? %>	
				<h2>Feats</h2>		
			<% end %>       
			<% @c_n_attr.each do |a| %>
                		<%= link_to a.name, { :controller => "dnd5e_classes", :action => "index", :class => @class, :archetype => @archetype, :level => @level, :c_attr => a.id } %>
				<br>
			<% end %>       
			<% @a_n_attr.each do |a| %>
                		<%= link_to a.name, { :controller => "dnd5e_classes", :action => "index", :class => @class, :archetype => @archetype, :level => @level, :a_attr => a.id } %>
				<br>
			<% end %>       


		</div>
	</div>

	<div id="show">
		<% if @c_attr %>
			<% temp = Dnd5eClassAttribute.find(@c_attr) %>
			<h1><%=temp.name%></h1>
			<%= temp.description.html_safe %>
		<% end %>		
		<% if @a_attr %>
			<% temp = Dnd5eArchetypeAttribute.find(@a_attr) %>
			<h1><%=temp.name%></h1>
			<%= temp.description.html_safe %>
		<% end %>		
	</div>
</div>


