<div id="sort">	
	<label>_______________________________</label>	
	<div id="levels">
        	<% @levels.each do |l| %>
                	<% if l.to_i == @level %>
                        	<%= link_to l, { :controller => "dnd5e_classes", :action => "index", :subrace => @subrace, :race => @race, :archetype  => @archetype,  :class => @class, :level => l.to_i }, {:style => "color: gray;" }%>
                	<% else %>
                        	<%= link_to l, { :controller => "dnd5e_classes", :action => "index", :subrace => @subrace, :race => @race, :archetype  => @archetype,  :class => @class, :level => l.to_i }, {:style => "color: black;" } %>
                	<% end %>
        	<% end %>       
	</div>
	<label>_______________________________</label>	

	<div id="races">
        		<% @races.each do |r| %>
                		<% if r.id == @race %>
                        		<%= link_to r.name, { :controller => "dnd5e_classes", :action => "index", :race => r.id, :class => @class, :archetype => @archetype, :level => @level }, {:style => "color: gray;" }%>
                		<% else %>
                        		<%= link_to r.name, { :controller => "dnd5e_classes", :action => "index", :race => r.id, :class => @class, :archetype => @archetype, :level => @level }, {:style => "color: black;" } %>
                		<% end %>
        		<% end %>       
	</div>

	<div id="subraces">
		<% if @race and !@subraces.empty?%> 
	<label>_______________________________</label>	
	<br>
        		<% @subraces.each do |s| %>
                		<% if s.id == @subrace %>
                        		<%= link_to s.name, { :controller => "dnd5e_classes", :action => "index", :subrace => s.id, :race => @race, :class => @class, :archetype => @archetype, :level => @level }, {:style => "color: gray;" }%>
                		<% else %>
                        		<%= link_to s.name, { :controller => "dnd5e_classes", :action => "index", :subrace => s.id, :race => @race, :class => @class, :archetype => @archetype, :level => @level }, {:style => "color: black;" } %>
                		<% end %>
        		<% end %>       
		<% else %>   
        	<% end %>       
	</div>
	<label>_______________________________</label>	
	<div id="classes">
        	<% @classes.each do |classs| %>
                	<% if classs.id == @class %>
                        	<%= link_to classs.name, { :controller => "dnd5e_classes", :action => "index", :subrace => @subrace, :race => @race, :class => classs.id, :level => @level, :attr => @attr }, {:style => "color: gray;" }%>
                	<% else %>
                        	<%= link_to classs.name, { :controller => "dnd5e_classes", :action => "index", :subrace => @subrace, :race => @race,  :class => classs.id, :level => @level, :attr => @attr }, {:style => "color: black;" } %>
                	<% end %>
        	<% end %>       
	</div>

	<div id="archetypes">
		<% if @class%> 
	<label>_______________________________</label>	
	<br>
        		<% @archetypes.each do |a| %>
                		<% if a.id == @archetype %>
                        		<%= link_to a.name, { :controller => "dnd5e_classes", :action => "index", :subrace => @subrace, :race => @race, :class => @class, :archetype => a.id, :level => @level }, {:style => "color: gray;" }%>
                		<% else %>
                        		<%= link_to a.name, { :controller => "dnd5e_classes", :action => "index", :subrace => @subrace, :race => @race, :class => @class, :archetype => a.id, :level => @level }, {:style => "color: black;" } %>
                		<% end %>
        		<% end %>       
		<% else %>   
        	<% end %>       
	</div>
	<label>_______________________________</label>	
</div>
<div id="bottom">
        <div id="list-wrapper">
		<div id="index">
			<% temp = 0 %>
			<% @ability_scores.map { |m| temp += m[1] }  %>
			<% if !@ability_scores.empty? and temp > 0 %>	
				<h2>Racial Ability Score Modifiers</h2>	
			<%end%>	
			<% @ability_scores.each do |a| %>
				<% if a[1] > 0 %>
               	 			<label>&nbsp;<%=a[0]%>:+<%= a[1] %></label>
					<br>
				<% end %>       
			<% end %>       
			<% if !@race_traits.empty? or !@subrace_traits.empty? %>	
				<h2>Racial Attributes</h2>	
			<%end%>	
			<% @race_traits.each do |a| %>
               	 		<%= link_to a.name, { :controller => "dnd5e_classes", :action => "index", :subrace => @subrace, :race => @race, :class => @class, :archetype => @archetype, :level => @level, :r_trait => a.id } %>
				<br>
			<% end %>       
			<% @subrace_traits.each do |a| %>
               	 		<%= link_to a.name, { :controller => "dnd5e_classes", :action => "index", :subrace => @subrace, :race => @race, :class => @class, :archetype => @archetype, :level => @level, :s_trait => a.id } %>
			<br>
			<% end %>       
			<% if !@c_d_attr.empty? %>	
				<h2>Stats</h2>	
			<%end%>	
			<% @c_d_attr.each do |a| %>
               	 		<label><%=a[0].html_safe%></label><%= link_to a[1].name + ":" , { :controller => "dnd5e_classes", :action => "index", :subrace => @subrace, :race => @race, :class => @class, :archetype => @archetype, :level => @level, :c_attr => a[1].id } %>
				<strong><%=a[1].value%></strong><br>
			<% end %>       
			<% @a_d_attr.each do |a| %>
			<label><%=a[0].html_safe%></label><%= link_to a[1].name + ":" , { :controller => "dnd5e_classes", :action => "index", :subrace => @subrace, :race => @race, :class => @class, :archetype => @archetype, :level => @level, :a_attr => a[1].id } %>
				<strong><%=a[1].value%></strong><br>
			<% end %>       

			<% if !@c_n_attr.empty? %>	
				<h2>Class Feats</h2>		
			<% end %>       
			<% @c_n_attr.each do |a| %>
                		<label><%=a[0].html_safe%></label><%= link_to a[1].name, { :controller => "dnd5e_classes", :action => "index", :subrace => @subrace, :race => @race, :class => @class, :archetype => @archetype, :level => @level, :c_attr => a[1].id } %>
				<br>
			<% end %>       
			<% if !@a_n_attr.empty? %>	
				<h2>Archetype Feats</h2>		
			<% end %>       
			<% @a_n_attr.each do |a| %>
                		<label><%=a[0].html_safe%></label><%= link_to a[1].name, { :controller => "dnd5e_classes", :action => "index", :subrace => @subrace, :race => @race, :class => @class, :archetype => @archetype, :level => @level, :a_attr => a[1].id } %>
				<br>
			<% end %>       

		</div>
	</div>

	<div id="show">
		<% if @r_trait %>
			<% temp = Dnd5eRaceTrait.find(@r_trait) %>
			<h1><%=temp.name%></h1>
			<%= temp.description.html_safe %>
		<% end %>		
		<% if @s_trait %>
			<% temp = Dnd5eSubraceTrait.find(@s_trait) %>
			<h1><%=temp.name%></h1>
			<%= temp.description.html_safe %>
		<% end %>		
		<% if @c_attr %>
			<% temp = Dnd5eClassAttribute.find(@c_attr) %>
			<h1><%=temp.name%></h1>
			<%= temp.description.html_safe %>
		<% end %>		
		<% if @a_attr %>
			<% temp = Dnd5eArchetypeAttribute.find(@a_attr) %>
			<h1><%=temp.name%></h1>
			<%= temp.description.html_safe %>
		<% end %>		
	</div>
</div>


